LISTEN_ADDRESS=:29332
DATABASE_URL={{ matrix_mautrix_wsproxy_syncproxy_database_connection_string }}
HOMESERVER_URL=http://localhost:8008
SHARED_SECRET={{ matrix_mautrix_wsproxy_sync_proxy_shared_key }}